<h1>Welcome to HCaptcha testing site</h1>

<div>
  <h2>Test Hcaptcha with visible checkbox</h2>
  <%= link_to(hcaptcha_path) do %>
    <button>Please show me this wonderful feature !!</button>
  <% end %>
</div>

<div>
  <h2>Test Hcaptcha with invisible checkbox</h2>
  <%= link_to(invisible_hcaptcha_path) do %>
    <button>I look forward to see that !!</button>
  <% end %>
</div>
